<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Canadian Tire Sales</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Canadian Tire Clearance and Sale Products</h1>
        <h2>Find a deal at Canadian Tire Below!</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Clearance Products</h2>
        <table id="myTable" class="stripe" style="width:100%"></table> 
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Sale Products</h2>
        <table id="myTable2" class="stripe" style="width:100%"></table> 
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="./static/js/app.js"></script>
</body>

</html>